.body_content .option_column{
direction: ltr;
}
.block_goal .goal_info {
direction: rtl;
}
.social_column .slider_section {
direction: ltr;
}
.social_label .social_label_content .social_label_left {
padding-right: 10px;
direction: rtl;
float:right;
}
.social_column .social_comment {
direction: ltr;
}
.mail_subscribe .subscribe_container {
margin-right: 10px;
}
.competition_container .entry {
direction: ltr;
}
.entry .entry_transparent .entry_order_now {
margin-left: 100px;
}
.entry .entry_control .entry_remaining {
direction: rtl;
}
.cart_bottom .cart_panel {
direction: ltr;
}
.cart_body_content .cart_entry {
direction: ltr;
}
.cart_table .cart_header {
direction: ltr;
}
.cart_bottom .cart_payment {
direction: ltr;
}
.body .checkout_column_left {
direction: ltr;
}
.full_line .line_header, .half_line .line_header {
direction: rtl;
}
.checkout_column_right .std_block {
direction: ltr;
}
.std_block_body .cart_element .cart_element_description {
direction: rtl;
}
.light-theme a, .light-theme span {
direction: ltr;    
}
.full_line .combo {
direction: ltr;
}
.full_line .select_box.combo {
direction: ltr;
}
.submit .body_theme .std_block {
direction: ltr;
}
.submit_content {
direction: rtl;
}
.submit .submit_theme {
direction: ltr;
}
.theme_content .std_block_label .label_box .label_title {
direction: rtl;
}
.upload_body_content {
direction: rtl;
}
.body_content .submit_design .std_block {
direction: ltr;
}
.design_self_info .std_block_body .line_info .line_header, .design_info .std_block_body .line_info .line_header ,
.self_info .std_block_body .line_info .line_header {
direction: rtl;
}
.choose_competition .std_block_body .type_select {
direction: rtl;
}