/* general helper classes */
.footer{height: 60px;margin-top:10px;}
.tunderline {text-decoration: underline;}
#footer a {text-decoration: underline;}
.noindent{text-indent: 0px !important;}
#footer-wrap {margin-top:20px;background-color: #E6E6E6;}
body > img {display: none;}
.alertr {color:red; font-size:12px;font-family: Helvatica,Arial,sans-serif;}
.brdc {margin:10px 0;}
.brdc >ul>li{margin-left:10px;}
.divid {display: inline; color:gray; margin-left: 10px;font-family: Helvetica,Arial,sans-serif;}
.caption{display:none; background:#FFCC00; opacity:.9; position:absolute; 
width: 300px;height: 190px!important;padding-right: 0px;color:#fff; 
text-align: center; vertical-align: middle; font-size: 20px; 
padding-top: 190px; font-weight: bold;}
.facebook{background-image: url("../img/share_facebook_ikimuk.png");width:55px; height:55px;
display: block;background-repeat: no-repeat;}
.mright{margin-right: 10px!important;}
.facebook:hover{background-image: url("../img/share_facebook_hover_ikimuk.png");}
.twitter{background-image: url("../img/share_twitter_ikimuk.png");width:55px; height:55px;
display: block;background-repeat: no-repeat;}
.twitter:hover{background-image: url("../img/share_twitter_hover_ikimuk.png");}
.contact{background-image: url("../img/share_contact_ikimuk.png");width:55px; height:55px;
display: block;background-repeat: no-repeat;}
.contact:hover{background-image: url("../img/share_contact_hover_ikimuk.png");}
.youtube{background-image: url("../img/share_youtube_ikimuk.png");width:55px; height:55px;
display: block;background-repeat: no-repeat;}
.youtube:hover{background-image: url("../img/share_youtube_hover_ikimuk.png");}
.ogcomp{margin-bottom: -40px;color:#1f518b;}
/*======================================================================================*/
.facebook_footer{background-image: url("../img/footer_facebook_ikimuk.png");width:55px; height:55px;
display: block;background-repeat: no-repeat;}
.mright{margin-right: 10px!important;}
.facebook_footer:hover{background-image: url("../img/footer_facebook_hover_ikimuk.png");}
.twitter_footer{background-image: url("../img/footer_twitter_ikimuk.png");width:55px; height:55px;
display: block;background-repeat: no-repeat;}
.twitter_footer:hover{background-image: url("../img/footer_twitter_hover_ikimuk.png");}
.contact_footer{background-image: url("../img/footer_contact_ikimuk.png");width:55px; height:55px;
display: block;background-repeat: no-repeat;}
.contact_footer:hover{background-image: url("../img/footer_contact_hover_ikimuk.png");}
.youtube_footer{background-image: url("../img/footer_youtube_ikimuk.png");width:55px; height:55px;
display: block;background-repeat: no-repeat;}
.youtube_footer:hover{background-image: url("../img/footer_youtube_hover_ikimuk.png");}
.socialIcons{height:60px; padding-top: 10px;}
.nomargin{margin:0px!important;}
.block {display: block;}
.center {margin-left:auto; margin-right:auto;}
.centert{text-align: center;}
.hidden{display: none;}
img {-ms-interpolation-mode: bicubic;max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */}
.thumb img {
min-width: 60px;
min-height: 60px;
width: 60px;
}
a{text-decoration: inherit;cursor:pointer}
a:hover{text-decoration: inherit;}
.thumb-big img{ 
min-width: 200px;
max-height: 260px;
width: 260px;}
.right{float:right;}
.pright{padding-right: 10px;}
.pleft{padding-left: 10px;}
.line{background:#000;border-bottom:2px solid #000;}
.linep{background:#ED1E79;border-bottom:2px solid #ED1E79;}
.linew{background:#fff;border-bottom:2px solid #fff; margin-bottom: 10px;}
.lineb{background:#34C8FF;border-bottom:2px solid #34C8FF;margin-top: 5px;}
.txlarge {font-size: 28px;}
.tlarge {font-size: 21px;}
.tmedium {font-size: 16px;}
.tsmall {font-size: 12px;}
a, ins {text-decoration: none; color:inherit;}
body{font-family: Helvatica, Arial,sans-serif;}
table {border: 1px;}
.tlblue {color:#34C8FF;}
.tpink {color: #ED1E79;}
.tblack{color:#000;}
.twhite{color:#fff;}
.tgray {color:#CCCCCC;}
.tyellow {color:#FFC800 ;}
.breadcrumb {background-color: #fff!important;}
.tnormal{font-weight:normal;}
.tnheight{line-height: 20px;}
.dwidth {max-width: 300px;}
.lbluebg{background-color: #34C8FF;}
.vlbluebg {background-color: #66CCFF;}
.home_list > img {height:380px;}
#mce-EMAIL{max-width:170px;}
.circle { 
   width: 40px;
   height: 40px;
   line-height: 40px;
   background: #34C8FF; 
   -moz-border-radius: 20px; 
   -webkit-border-radius: 20px; 
   border-radius: 20px;
   float:left;
   font-size: 21px;
   margin-right: 10px;
   margin-left: 0px;
}

.wrapper {
    position: relative;
}
.ribbon {
    background: #34C8FF;
    box-shadow: 5px 0 0 #34C8FF,
                -5px 0 0 #34C8FF;
    margin: 0 5px;
    color:#fff;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    top:0;
    left:10px;
    height: 70px;
    width: 50px;
    -webkit-filter: drop-shadow(0 2px 5px hsla(0,0%,0%,.5));
    z-index: 999;
}
.ribbon:after,
.ribbon:before {
    border-top: 15px solid #34C8FF;
    content: '';
    height: 0;
    position: absolute;
    top: 100%;
    width: 0;
}
.ribbon:after {
    border-left: 50px solid transparent;
    right: -5px;
}
.ribbon:before {
    border-right: 50px solid transparent;
    left: -5px;
}
.triangles:before {
    background-image: -webkit-linear-gradient(45deg, #E6E6E6 25%, transparent 25%, transparent 75%, #E6E6E6 75%, #E6E6E6), 
                      -webkit-linear-gradient(-45deg, #E6E6E6 25%, transparent 25%, transparent 75%, #E6E6E6 75%, #E6E6E6);
    background-image:    -moz-linear-gradient(45deg, #E6E6E6 25%, transparent 25%, transparent 75%, #E6E6E6 75%, #E6E6E6),
                         -moz-linear-gradient(-45deg, #E6E6E6 25%, transparent 25%, transparent 75%, #E6E6E6 75%, #E6E6E6);
    background-image:     -ms-linear-gradient(45deg, #E6E6E6 25%, transparent 25%, transparent 75%, #E6E6E6 75%, #E6E6E6),
                          -ms-linear-gradient(-45deg, #E6E6E6 25%, transparent 25%, transparent 75%, #E6E6E6 75%, #E6E6E6);
    background-image:      -o-linear-gradient(45deg, #E6E6E6 25%, transparent 25%, transparent 75%, #E6E6E6 75%, #E6E6E6),
                           -o-linear-gradient(-45deg, #E6E6E6 25%, transparent 25%, transparent 75%, #E6E6E6 75%, #E6E6E6);
    background-image:         linear-gradient(45deg, #E6E6E6 25%, transparent 25%, transparent 75%, #E6E6E6 75%, #E6E6E6),
                              linear-gradient(-45deg, #E6E6E6 25%, transparent 25%, transparent 75%, #E6E6E6 75%, #E6E6E6);
    background-repeat: repeat-x;
    background-size: 20px 20px;
    content: '';
    height: 10px;
    left: 0;
    position: absolute; /* Make sure the parent element has a position set */
    right: 0;
}
.triangles:after {
    background-position: 50% -30px;
    top: -10px;
}
.triangles:before {
    background-position: 50% 0;
    bottom: -10px;
}

/* header area */
.log{float:left; width:100%;background-color: #FFC800; color:#000; text-align: right;padding:5px 0;}
.logoBg{background-color: #34C8FF;padding-bottom: 20px;}
.logo{float:left; width:300px; height:61px; display: block; margin:20px 0px 0px 60px; background-image: url('../img/logo.png');background-repeat: no-repeat;}
/*.logo:hover{background-image: url('../img/logo_hover.png');}*/
.topText{font-size: 20px; color: #fff; width:460px; margin-left:10px; text-align: center;}
.fennec {position:relative;z-index:1;}
.menu >ul >li {vertical-align: bottom; font-size: 28px; display: inline; text-decoration: none;}
.menu >ul >li:hover {color:#ED1E79;}
.menuhover:hover {color:#ED1E79;}
.compHeader {margin-bottom: 30px;}


/*index page */
.designContainer{padding:30px 0 30px 0;}
.designBox{border:2px solid #34C8FF;  padding: 10px;}
.designTitle{color:#FFC800; font-size: 18px;margin:10px 0  10px 0; display:inline-block; line-height:20px; }
.preorderButton {color:#fff; background-color: #ED1E79; text-decoration:none; 
font-size:21px; max-width: 300px; height:50px;text-align: center;line-height: 50px;font-weight: bold;}
.preorderButton:hover {background: #FFC800;color:#ffffff;}
.preorderCount{background-color: #e7f8fb; border:2px solid #34C8FF;  border-bottom-right-radius:10px; 
 border-bottom-left-radius:10px; margin:0px 5px;height:40px; text-align:center;
 padding-top:10px;border-top:0px;-moz-border-radius: 10px; -webkit-border-bottom-left-radius: 10px; 
 -webkit-border-bottom-right-radius: 10px; -khtml-border-radius: 10px;}
.preorderText {color:#34C8FF; font-size:20px; text-align: center;}
.printText{color:#3d3d3d; font-size:18px; text-align: center; margin:60px auto 60px auto;}
.printText b {font-size:20px;}
.openingContainer{position:relative; padding:20px; background: #E6E6E6;margin-bottom: 50px;}
.home_list{min-height: 280px !important; max-width:300px;}
.countBox {padding:5px 0; background: #FFC800; color:#fff; margin: 0;font-size: 16px;
 text-align: center; max-width:300px; display:block; font-family: Helvetica, Arial,sans-serif;}


/* design page */
.mainContainer{background-color: #e7f8fb;  margin-top:-15px;border:2px solid #34C8FF;
  border-radius:10px; font-size:18px; text-decoration: none;
 padding:50px 20px 0px 20px;border-top:0px;-moz-border-radius: 10px; -webkit-border-radius: 10px; 
 -webkit-border-radius: 10px; -khtml-border-radius: 10px; position: relative;}
.innerContainer {border:2px solid #34C8FF; padding:10px;background-color:#fff; position: relative; }
.img_large{-ms-interpolation-mode: bicubic;max-width: 520px;max-height:420px;height:auto;width:auto; /*ie8 */}
.box{background-color: #34C8FF; height:60px;margin:10px 0 10px 0;}
.artistInfo {font-size:14px; margin-bottom: 10px; text-decoration: none; line-height: 11px; font-family: Helvatica,arial,sans-serif;}
.artistInfo .location .website .twitter img {margin-right:5px;}
.artistName{color:#34C8FF; font-size:18px;}
.preorderCount_design{background-color: #e7f8fb; border:2px solid #34C8FF;  border-bottom-right-radius:20px; 
 border-bottom-left-radius:20px; margin:0  0 0 25px; text-align:center;
 border-top:0px;-moz-border-radius: 20px; -webkit-border-bottom-left-radius: 20px; 
 -webkit-border-bottom-right-radius: 20px; -khtml-border-radius: 20px; padding:10px;}
.icon{padding:5px;}
.countText{line-height: 40px;margin: 20px 0;font-size: 16px;}
.price {font-size: 18px;}
.socialbox{border: #34c8ff solid 2px; padding:20px; height: 80px;}
.socialbox b {font-size:18px; font-family: Adelle;}
.boxheader {margin-top: 40px; text-indent: 20px;line-height: 50px;font-size: 18px; font-weight: bold;} 
.commentheader {margin-top: 40px; text-indent: 20px;line-height: 20px;font-size: 18px; font-weight: bold;}
.designT{color:#FFC800; font-size: 18px; display:inline-block; line-height: 20px;}
/*preorder page*/
.userInfo{color:#4d4d4d; border:2px solid #34C8FF; font-size:14px;margin-top:10px;}
.preSummary{background-color:#fff; border:2px solid #34C8FF; padding-bottom: 20px;min-height:490px; margin-top:10px;}
.preTitle{background-color: #34C8FF;color:#fff;text-indent:20px; margin: 0px; font-size: 18px;}
.preSummary img { margin-left: auto; margin-right:auto; padding: 5px;}
.button_text {background-color: #808080; color:#fff; font-size:18px; 
 margin:0 auto 30px auto; text-align: center; height:50px;}
.button_text:hover {background-color: #656565;}
.verfiyButton {background-color:#4d4d4d; padding:0 20px 0 20px; color:#fff; text-decoration:none; }
.ccode{width:30px; margin:0;}
.inputContainer {padding:25px 70px; background-color: #fff;}
.sizeIcon{width:40px; height:40px;background-color: #808080; color:#fff;  text-decoration:none !important; text-align:center; line-height: 40px; margin:10px 20px 20px 0;display: inline-block;}
.sizeIcon:hover{background-color:#34c8ff; color:#fff;}
.selected,.selected:hover {background-color:#FFC800;}

/* submit */
.header {
   font-size: 28px;
   line-height: 20px;
   margin-bottom: 5px;
}
.grayTitle{color:#000; margin: 0px; font-size: 16px;}
.graybg{background-color: #E6E6E6; padding:0 10px 10px 10px;height:320px;margin-top: 10px;}
.graybgheader
{background-color: #F2F2F2; padding:20px;
 border-bottom-right-radius:20px; font-size: 16px; font-family: Helvatica, Arial,sans-serif;
 border-bottom-left-radius:20px; 
 border-top:0px;-moz-border-radius: 20px; -webkit-border-radius: 20px; 
 -webkit-border-radius: 20px; -khtml-border-radius: 20px;
}
.subButton {color:#fff; background-color: #ED1E79; text-decoration:none; 
font-size:21px; max-width: 300px; height:50px;text-align: center;line-height: 50px;font-weight: bold;}
.subButton:hover {background: #FFC800; color:#fff;}
.button{color:#fff; background-color: #34C8FF; border-width: 0px; height:30px;margin-left: -2px;font-weight: bold;}

/* admin pages */
.tbl{border: 2px;}

/* breadcrumb */
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
#breadcrumbs-two{
  overflow: hidden;
  width: 100%;
}

#breadcrumbs-two li{
  float: left;
  margin: 0 .5em 0 1em;
}

#breadcrumbs-two a{
  background: #ddd;
  padding: .7em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
}

#breadcrumbs-two a:hover{
  background: #99db76;
}

#breadcrumbs-two a::before{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#breadcrumbs-two a:hover::before{
  border-color: #99db76 #99db76 #99db76 transparent;
}

#breadcrumbs-two a::after{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
}

#breadcrumbs-two a:hover::after{
  border-left-color: #99db76;
}

#breadcrumbs-two .current,
#breadcrumbs-two .current:hover{
  font-weight: bold;
  background: none;
}

#breadcrumbs-two .current::after,
#breadcrumbs-two .current::before{
  content: normal;
}

/* Sevag */

.content{
    padding-left:20px;
    padding-right:20px;
}


.par{
    margin-bottom: 0px;
    line-height: 21px;
    margin-top: 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #646464;
    text-indent: 0px;
}

.titre{
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    color: #1E1E1E;
    margin-top: 20px;
    margin-bottom: 5px;
}

.deuxieme {
    margin-bottom: 0px;
    margin-top: 10px;
    color: #646464;
    font-size:14px; 
}

.soustitre {
    text-indent: 40px;
    font-weight: 600;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.bullet {
    text-indent: 40px;
    margin-bottom: 0px;
    margin-top: 3px;
    color: #646464;
}